.game_pieces{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    background-color: red; 
    align-items: center;
}
.black_pieces {  
    display: flex;
    flex-direction: column;
}
.row1-black{ 
    display: flex; 
    flex-direction: row;
} 
.row2-black{ 
    display: flex;
    flex-direction: row;

} 
.img {
    width: 6vw; 
    height: 6vh;
}  
.whitepieces{ 
    display: flex;
    flex-direction: column;

} 

.row1-white{ 
    display: flex; 
    flex-direction: row-reverse;

}
.row2-white{  
    display: flex; 
    flex-direction: row-reverse;

}