.crazykids{
    display: flex;
    flex-direction: row; 
    justify-content: left;
}

.column1{ 
    display: flex;
    flex-direction: column;
} 
    .obj1{ 
        background-color: white; 
        width: 75px;
        height:48px ; 
        border: solid darkgray 2px; 
        
    }  
    .anotherone{ 
        display: flex; 
        flex-direction: row;
        border: 4px darkgray solid;
        border-top: none; 
        border-bottom: none; 
        border-right: none;
    } 
    .secretred{ 
        background-color:red;
        width: 25px; 
        height: 200px; 
        border-left: solid darkgray 4px;  
        

    }
    .obj2{ 
        background-color: white;
        width: 50px; 
        height: 100px; 
        border: solid darkgray 2px;
        border-left: none; 
        border-right: none;

    } 
    .obj3{ 
        background-color: white;
        width: 50px; 
        height: 50px; 
        border: solid darkgray 4px;
        border-top: none; 
        border-right: solid darkgray 2px;
        
    }  
    .obj4{ 
        background-color: yellow;
        width: 50px; 
        height: 150px; 
        border: solid darkgray 2px; 
        border-left: ;
        
    }   
    .obj5{ 
        background-color: white;
        width: 150px; 
        height: 50px; 
        border: solid darkgray 2px;

    }  
.column2{
    display: flex; 
    flex-direction: column;  
    top: 8px; 
    left: 85px; 
    position: absolute;
}  
.hjj1{ 
    background-color: white;
    width: 175px; 
    height: 48px; 
    border: solid darkgray 2px; 
    border-bottom: none;
} 
.hjj2{ 
    background-color: red; 
    width: 175px; 
    height: 200px;
    border: solid darkgray 2px;  
    border-left: none;
} 
.hjj3{  
    display: flex; 
    flex-direction: row;
} 
.blackbox{ 
    background-color: black;
    width: 75px; 
    height: 100px; 
    border: solid darkgray 2px;  
    border-left: none;
} 
._2whiteboxes{ 
     display: flex; 
     flex-direction: column; 


} 
.whitebox_1{ 
    background-color: white;
    width: 96px;
    height: 48px; 
    border: 2px darkgray solid;
} 
.mr_white{ 
    background-color: white;
    width: 75px; 
    height: 100px; 
    border: solid darkgray 2px;  
    border-left: none;

}
.anothertwo{
    display: flex;
    flex-direction: row; 
    background-color: black;
} 
.secretblack{ 
    background-color: black;
    width: 25px;
    height: 100px;
    border-left: darkgray 2px solid;}
